.eyeIcon {
    position: absolute;
    top: 15%;
    right: 7%;
    cursor: pointer;
}
.password_container {
    position: relative;
}
.password_container input[type="password"],
.password_container input[type="text"]{
  width: 100%;
}
