#logo {
    font-size: 30 px;
    width: 12rem;
}
#center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    display: block !important;
}

#brand-name {
    padding: 0.5rem;
    margin-top: 1rem;
}

#searchbar {
    position: absolute;
    right: 1rem;
}

.cart-qty {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    min-width: 25px;
    padding: 0 3px;
    text-align: center;
    background: #f5f5f5;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(225 227 228 / 20%);
    margin: 0;
    appearance: none;
}

.bottom-cart-button > button {
    width: 48%;
}

.cart-product-img > img {
    width: 5.5rem;
    height: 6rem;
}

.cart-product-img {
    width: 25%;
}
.cart-product-content {
    position: relative;
}
.cart-btn-del {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart-view-total button {
    width: 100%;
}

/*---------------------------------------*/
/* NAVIGATION BAR STYLE - START */
/*---------------------------------------*/

/* Màu sắc, hiệu ứng hover navbar */
.navbar-light .navbar-nav .nav-link {
    display: block;
    position: relative;
    color: #417505;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #66b9a7;
}
.navbar-light .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #5c5c5c;
    transition: width 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* menu cha */
.sub-nav {
    position: relative;
}

/* menu con */
.sub-nav-content {
    position: absolute;
    background-color: white;
    z-index: 3;
    width: 100%;
    display: none;
}

.sub-nav:hover .sub-nav-content {
    display: block;
}
/* item trong menu con */
.sub-nav-link {
    display: block;
    position: relative;
    color: #417505;
    font-size: 14px;
    padding: 5px 20px;
    border-bottom: 1px solid #777777;
}
.sub-nav-link:hover {
    color: #66b9a7;
}

/*---------------------------------------*/
/* NAVIGATION BAR STYLE - END */
/*---------------------------------------*/
