.box-resetPassword {
    margin-top: 150px;
}
.button-resetPassword {
    font-size: 90%;
    width: 74%;
}
.iconHeading {
    cursor: pointer;
}

.iconHeading .iconLink:hover {
    color: darkgrey;
}
