

/* Sidebar custom */
#sidebar {
    background-color: rgb(255, 255, 255);
    color: #333;
    -webkit-box-shadow: 5px 4px 7px -6px #000000;
    box-shadow: 5px 4px 7px -6px #000000;
    position: fixed;
    z-index: 2;
}

#sidebar .logo {
    width: 50px;
    height: 50px;
}

#sidebar .logo-header {
    padding: 20px 0;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
}

#sidebar .logo-title {
    color: #050505;
    font-weight: 700;
}

#sidebar .list-unstyled li a {
    color: #050505;
}

#sidebar ul li a:hover {
    color: #f3ab70;
}

#sidebar ul li.active > a {
    background: transparent;
    color: #f3ab70;
}

/* CONTENT */
.table-fzm {
    font-size: 14px;
}

#content {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.content-detail {
    width: 100%;
}

.detail-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #333;
}

.text-bold {
    font-weight: 600;
}

ul {
    list-style: none;
}

.content-top {
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 4px 7px -6px #000000;
    box-shadow: 0px 4px 7px -6px #000000;
    position: fixed;
    z-index: 1;
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0 20px;
}

.header-left {
    width: 500px;
}

.header-right {
    width: calc(200px - 20px);
    cursor: pointer;
}

.icon-user {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .icon-user:hover .icon-user-dropdown {
        display: block;
    }

.icon-user-dropdown::before {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    top: -11px;
    z-index: 2;
    position: absolute;
    background-color: transparent;
}

.icon-user-dropdown {
    position: absolute;
    width: 300px;
    display: none;
    top: calc(100% + 10px);
    right: 20px;
    outline: none;
    animation: SearchBoxAnimation ease-out 0.35s;
    transform-origin: 10px left bottom;
    border-radius: 3px;
    color: #677279;
    background: rgb(255, 255, 255);
    border: solid 1px #dfe3e8;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

@keyframes SearchBoxAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.icon-user-dropdown .box-triangle {
    cursor: pointer;
    position: absolute;
    bottom: calc(100% - 9px);
    margin: 0 auto;
    width: 30px;
    height: 25px;
    right: 15px;
}

    .icon-user-dropdown .box-triangle svg {
        filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
    }

.icon-user > img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.icon-user .icon-user-fullname {
    width: calc(100% - 60px);
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.icon-user-fullname > i {
    font-weight: bolder;
    color: #333;
}

.info-user {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
}

.avt-user {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.info-user-login {
    width: calc(100% - 80px);
}

.info-fullName {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #333;
}

.info-email {
    font-size: 12px;
}

.user-logout {
    border-top: #e9e9ec 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

    .user-logout a {
        display: inline-flex;
        height: 50px;
        width: 100%;
        align-items: center;
        color: #333;
        font-weight: 500;
        font-size: 15px;
        padding: 0 20px;
    }

        .user-logout a i {
            padding-right: 15px;
        }

        .user-logout a:last-child {
            margin-top: 10px;
        }

        .user-logout a:hover {
            background-color: rgb(236, 240, 243);
        }

.not-logged {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avt-login {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.not-logged a {
    float: right;
}

.not-logged .icon-not-logged {
    font-size: 20px;
    padding-left: 20px;
}

.content-main {
    width: 100%;
    margin: 100px auto;
}

.dataTables_filter label input {
    border: 1px solid rgb(234, 230, 230);
}

    .dataTables_filter label input:focus {
        border: 1px solid rgb(179, 120, 120);
    }

#renderData tr td {
    text-align: center;
}

#table-product th {
    text-align: center;
}

#table-product .btn-w-80 {
    width: 80px;
    font-size: 14px;
}

#table-product .btn-w-100 {
    width: 100px;
    font-size: 14px;
}

#table-product .text-left {
    text-align: left;
}

.cus-form {
    width: 800px;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 5px;
}

    .cus-form > h2 {
        text-align: center;
    }

.cus-form-add > .row {
    width: 800px;
    margin: 0 auto;
}
/* .cus-form > .row {
} */
.real-time {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

#MyClockDisplay {
    width: 210px;
}

#today {
    width: 220px;
}

.hello-user span {
    font-weight: 500;
}


