.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .gradient-1,
  .dropdown-mega-menu .ext-link.link-1 a,
  .morris-hover,
  .datamaps-hoverover {
    background-image: linear-gradient(230deg, #759bff, #843cf6);
  }
  
  .gradient-2,
  .dropdown-mega-menu .ext-link.link-3 a {
    background-image: linear-gradient(230deg, #fc5286, #fbaaa2);
  }
  
  .gradient-3,
  .dropdown-mega-menu .ext-link.link-2 a,
  .header-right .icons .user-img .activity {
    background-image: linear-gradient(230deg, #ffc480, #ff763b);
  }
  
  .gradient-4,
  .sidebar-right .nav-tabs .nav-item .nav-link.active::after,
  .sidebar-right .nav-tabs .nav-item .nav-link.active span i::before {
    background-image: linear-gradient(230deg, #0e4cfd, #6a8eff);
  }
  
  .gradient-5 {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  }
  
  .gradient-6 {
    background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
  }
  
  .gradient-7 {
    background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
  }
  
  .gradient-8 {
    background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
  }
  
  .gradient-anchor,
  .gradient-9 {
    background-image: linear-gradient(
      to right,
      #b8cbb8 0%,
      #b8cbb8 0%,
      #b465da 0%,
      #cf6cc9 33%,
      #ee609c 66%,
      #ee609c 100%
    );
  }
  
  .gradient-anchor {
    -webkit-text-fill-color: transparent !important;
  }
  .gradient-1 {
    color: #fff !important;
  }
  .gradient-1-shadow {
    box-shadow: 0px 10px 20px 0px rgba(235, 33, 83, 0.3) !important;
  }
  .gradient-1-text {
    color: #f53c79;
  }
  
  .gradient-2 {
    color: #fff !important;
  }
  .gradient-2-shadow {
    box-shadow: 0px 10px 20px 0px rgba(66, 0, 235, 0.3) !important;
  }
  .gradient-2-text {
    color: #4409eb;
  }
  
  .gradient-3 {
    color: #fff !important;
  }
  .gradient-3-shadow {
    box-shadow: 0px 10px 20px 0px rgba(53, 185, 216, 0.3) !important;
  }
  .gradient-3-text {
    color: #38bad9;
  }
  
  .gradient-4 {
    color: #fff !important;
  }
  .gradient-4-shadow {
    box-shadow: 0px 10px 20px 0px rgba(242, 85, 33, 0.3) !important;
  }
  
  .gradient-5 {
    color: #fff !important;
  }
  .gradient-5-shadow {
    box-shadow: 0px 10px 20px 0px rgba(235, 33, 83, 0.3) !important;
  }
  .gradient-5-text {
    color: rgba(235, 33, 83, 0.8);
  }
  
  .gradient-6-shadow {
    box-shadow: 0px 10px 20px 0px rgba(53, 185, 216, 0.3) !important;
  }
  
  .gradient-7 {
    color: #fff !important;
  }
  .gradient-7-shadow {
    box-shadow: 0px 10px 20px 0px rgba(201, 201, 201, 0.3) !important;
  }
  .gradient-7-text {
    color: #4400eb;
  }
  
  .gradient-8 {
    color: #fff !important;
  }
  .gradient-8-shadow {
    box-shadow: 0px 10px 20px 0px rgba(242, 85, 33, 0.3) !important;
  }
  
  .gradient-9 {
    color: #fff !important;
  }
  .gradient-9-shadow {
    box-shadow: 0px 10px 20px 0px rgba(243, 31, 121, 0.3) !important;
  }
  .gradient-9-text {
    color: #f31e7a;
  }
  .ct-golden-section:before {
    float: none;
  }
  
  /* Use this selector to override the line style on a given series */
  .ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: rgb(73, 167, 37);
    /* Control the thikness of your lines */
    stroke-width: 3px;
    /* Create a dashed line with a pattern */
    /* stroke-dasharray: 10px 20px; */
  }
  
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
  .ct-series-a .ct-point {
    /* Colour of your points */
    stroke: rgb(73, 167, 37);
    /* Size of your points */
    stroke-width: 10px;
    /* Make your points appear as squares */
    /* stroke-linecap: square; */
  }